* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-betweet;
  align-items: center;
  font-family: 'Balsamiq Sans', cursive;
  color: #855425;
  background: 
    radial-gradient(#F2972A 3px, transparent 3px),
    radial-gradient(#F2972A 3px, transparent 3px),
    linear-gradient(#ffa433 4px, transparent 0),
    linear-gradient(45deg, transparent 74px, transparent 75px, #c76a0d3a 75px, #c76a0d3a 76px, transparent 77px, transparent 109px),
    linear-gradient(-45deg, transparent 75px, transparent 76px, #c76a0d3a 76px, #c76a0d3a 77px, transparent 78px, transparent 109px),
  #ffa433;
  background-size: 109px 109px, 109px 109px,100% 6px, 109px 109px, 109px 109px;
  background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
}

#title {
  position: relative;
}

#title-flags {
  width: 60vw;
  filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.295));
}

#or {
  position: fixed;
  margin-top: 60px;
  font-size: 3rem;
}

button {
  display: inline-block;
  border: none;
  padding: .75rem .75rem;
  margin: 0;
  text-decoration: none;
  background: #A42F34;
  color: #ffffff;
  font-family: sans-serif;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  border: 2px solid #A42F34;
  border-radius: 12px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.295);
  transition: background 150ms ease-in-out, 
              transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

button:hover,
button:focus {
  background: white;
  color: #A42F34;
  border: 2px solid #A42F34;
}

.hidden {
  display: none;
}

#fam {
  width: 75vw;
}

#word-container {
  position: absolute;
  display: flex;
  width: 100%;
  bottom: 75vh;
  justify-content: space-evenly;
}

.word {
  display: flex;
}

.letter {
  width: 6vw;
  height: 15px;
  margin: .5vw;
  font-size: 7vw;
  text-align: center;
  color: ghostwhite;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.404);
  border-bottom: 2px solid ghostwhite;
  box-shadow: 0 5px 3px -3px rgba(0, 0, 0, 0.295);
}

#win, #game-over {
  position: absolute;
  top: 40vh;
  /* font-size: 10vw; */
}

#fawkes {
  position: absolute;
  bottom: 5vh;
  left: 2vw;
  width: 17vw;
  height: auto;
  z-index: 1;
  filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.295));
  transition: transform .5s;
  transform: translateX(0vw);
}

#guesses-and-feast-container {
  position: absolute;
  bottom: 5vh;
  right: 2vw;
}

#guesses-and-feast {
  position: relative;
  display: flex;
  justify-content: center;
}

#incorrect-guesses {
  z-index: 1;
  position: absolute;
  top: 50%;
  font-size: 2vw;
  color: ghostwhite;
}

#incorrect-letters {
  display: flex;
}

.incorrect-letter {
  width: 2vw;
  margin: 2px;
  text-align: center;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.404);
  border-bottom: 2px solid ghostwhite;
  box-shadow: 0 5px 3px -3px rgba(0, 0, 0, 0.295);
}

#feast {
  z-index: 0;
  width: 45vw;
  filter: drop-shadow(0.25rem 0.25rem 0.4rem rgba(0, 0, 0, 0.295));
}