* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
}

html, body {
  height: 100%;
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-family: 'Balsamiq Sans', cursive;
  color: #855425;
  background: 
    radial-gradient(#F2972A 3px, transparent 3px),
    radial-gradient(#F2972A 3px, transparent 3px),
    linear-gradient(#ffa433 4px, transparent 0),
    linear-gradient(45deg, transparent 74px, transparent 75px, #c76a0d3a 75px, #c76a0d3a 76px, transparent 77px, transparent 109px),
    linear-gradient(-45deg, transparent 75px, transparent 76px, #c76a0d3a 76px, #c76a0d3a 77px, transparent 78px, transparent 109px),
  #ffa433;
  background-size: 109px 109px, 109px 109px,100% 6px, 109px 109px, 109px 109px;
  background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
}

#title {
  position: relative;
}

#title-flags {
  width: 60vw;
  /* margin-bottom: 3vh; */
  filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.295));
}

#or {
  position: absolute;
  top: 55%;
  left: 45.5%;
  font-size: 3vw;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.404);
}

button {
  display: inline-block;
  border: none;
  padding: .75rem .75rem;
  margin: 0;
  text-decoration: none;
  background: #A42F34;
  color: #ffffff;
  font-family: sans-serif;
  font-size: 1rem;
  /* cursor: pointer; */
  text-align: center;
  border: 2px solid #A42F34;
  border-radius: 12px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.295);
  transition: background 150ms ease-in-out, 
              transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

/* button:hover,
button:focus {
  background: white;
  color: #A42F34;
  border: 2px solid #A42F34;
} */

.hidden {
  display: none;
}

#notifications {
  position: absolute;
  top: -5vh;
  font-size: 2vw;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform .5s;
  transform: translateY(0vh);
}

#word-container {
  position: absolute;
  display: flex;
  width: 100%;
  bottom: 72%;
  justify-content: space-evenly;
}

.word {
  display: flex;
}

.letter {
  width: 5.5vw;
  height: 15px;
  margin: .5vw;
  font-size: 7vw;
  text-align: center;
  color: ghostwhite;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.404);
  border-bottom: 2px solid ghostwhite;
  box-shadow: 0 5px 3px -3px rgba(0, 0, 0, 0.295);
}

#win, #game-over {
  position: absolute;
  top: 40vh;
  /* font-size: 10vw; */
}

#fawkes {
  z-index: 2;
  position: absolute;
  width: 20vw;
  height: auto;
  filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.295));
  transition: transform .5s;
  transform: translateX(0vw);
}

#fawkes-chomp-1 {
  z-index: 2;
  position: absolute;
  width: 23.5vw;
  filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.295));
}

#fawkes-chomp-2 {
  z-index: 2;
  position: absolute;
  width: 23.5vw;
  filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.295));
}

#fawkes-chomp-3 {
  z-index: 2;
  position: absolute;
  width: 23.5vw;
  /* filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.295)); */
}

.fawkes {
  bottom: 5.5vh;
  left: 2vw;
}

/* #guesses-and-feast-container {
  position: absolute;
  bottom: 5vh;
  right: 2vw;
} */

#guesses-and-feast {
  position: absolute;
  bottom: 6vh;
  right: 2vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* height: 75vh; */
  /* overflow: hidden; */
}

.feast {
  z-index: 1;
  width: 45vw;
  /* filter: drop-shadow(0.25rem 0.25rem 0.4rem rgba(0, 0, 0, 0.295)); */
}

.top {
  /* z-index: 1; */
  transition: all 1.5s;
}

#incorrect-guesses {
  z-index: 1;
  position: absolute;
  top: 47%;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 22%;
  font-size: 1.75vw;
  color: ghostwhite;
}

#incorrect-letters {
  display: flex;
  font-size: 3vw;
}

.incorrect-letter {
  width: 2vw;
  margin: 2px;
  text-align: center;
  border-bottom: 2px solid ghostwhite;
}

#play-again, #keep-guessing {
  /* cursor: pointer; */
  padding: 1vw;
  color: ghostwhite;
}

/* #play-again:hover, #keep-guessing:hover {
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.404);
} */

#definition {
  margin: 0 15vw 30vh;
}

#keyboard {
  position: absolute;
  bottom: 0;
  display: flex;
  width: 100%;
  height: 8vh;
  background-color: ghostwhite;
}

.alpha {
  flex: 1;
  display:flex;
  justify-content: center;
  align-items: center;
  font-size: 3vw;
  background-color: #ffffff;
  border: solid #855425;
  border-width: 2.5vh 1px 2px;
}